.container {
    margin-top: 20px;
  }
  
  .cabecera-factura {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .items-factura {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  /* Estilos para los botones */
  .btn-agregar {
    background-color: #2e28a7;
    color: white;
    border: none;
  }
  
  .btn-agregar:hover {
    background-color: #214088;
  }
  
  .btn-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  
  .btn-eliminar:hover {
    background-color: #c82333;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2; 
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .custom-table tbody tr:hover {
    background-color: #ddd; 
  }

  .invoice-summary-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .invoice-summary-table td {
    border: none;
    padding: 0px 2px;
  }
  
  .invoice-summary-table td:first-child {
    text-align: end;
  }
  
  .invoice-summary-table td:last-child {
    text-align: end;
  }